<!DOCTYPE html>
<html>
<head>
  <title>Stack</title>
  <%= stylesheet_link_tag    "jquery-ui", "application", "bootstrap" %>
  <%= javascript_include_tag "jquery", "jquery-ui", "application", "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
